<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Web</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="manu">
        <ul>
            <li><a href="/">首頁</a></li>
            <li><a href="/todolist">To-Do List</a></li>
        </ul>
    </div>
    <h1>歡迎來到我的網頁</h1>
    <hr>
    <p align="center" style="font-size: 20px;">此網頁是用來練習各種專業使用。</p>
</body>
</html>