<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="manu">
        <ul>
            <li><a href="/">首頁</a></li>
            <li><a href="/todolist">To-Do List</a></li>
            <li><a href="/user">登入/登出</a></li>
        </ul>
    </div>
    <h1><strong>User</strong></h1>
    <hr>
    <p>{{name}}，歡迎來到我的網站。如果想登出請按<a href="/User/logout">登出</a>。</p>
</body>
</html>