<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="manu">
        <ul>
            <li><a href="/">首頁</a></li>
            <li><a href="/todolist">To-Do List</a></li>
            <li><a href="/user">登入/登出</a></li>
        </ul>
    </div>
    <h1><strong>留言板</strong></h1>
    <hr>
    <h3><strong>註冊</strong></h3>
    <form action="/user/signup/create" method="POST">
        帳號：<input required name="user_name" type="text" maxlength="10" size="16"><br>
        密碼：<input required name="user_password" type="text" maxlength="10" size="16"><br>
        <input type="submit" value="註冊"></input>
    </form>
    <p id='repeat' hidden>(帳號已經有人使用了，請重新註冊。)</p>

    <script>
        if({{isSuccessful}}) {
            document.getElementById('repeat').hidden = true
        }
        else {
            document.getElementById('repeat').hidden = false
        }
    </script>
</body>
</html>